---
apiVersion: frrk8s.metallb.io/v1beta1
kind: FRRConfiguration
metadata:
  annotations:
  name: bgp-peers-something-you-like
  namespace: openshift-frr-k8s
  labels:
    use-for-advertisements: blue
spec:
  bgp:
    routers:
      - asn: 6451INDEX
        neighbors:
          - address: 10.14.10.98
            asn: 65001
            disableMP: true
            dualStackAddressFamily: false
            holdTime: 9s
            keepaliveTime: 3s
            toReceive:
              allowed:
                mode: all
  nodeSelectors:
  - matchLabels:
      k8s.ovn.org/egress-assignable: ""
---
apiVersion: k8s.ovn.org/v1
kind: RouteAdvertisements
metadata:
  name: test-default-network-ra
spec:
  advertisements:
    - EgressIP
  frrConfigurationSelector:
    matchLabels:
      use-for-advertisements: blue
  networkSelectors:
    - networkSelectionType: DefaultNetwork
  nodeSelector: {}
